#body {
    align-content: center;
    margin: auto;
}
.details {
    align-content: center;
    justify-content: center;
    display: inline-block;
    max-width: 50%;
    height: auto;
    line-height: 30px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5%;
}
input {
    width: 80%;
    height: 10%;
    border-width: 0 0 1px 0;
    align-items: center;
}